.histogramTitles {
    -fx-font-weight: bold;
}

#histogramHBox {
    -fx-background-color: white;
    -fx-border-color: 15px;
    -fx-background-radius: 15px;
}

.scroll-pane {
    -fx-background-color: transparent;
}
